.app-header {
  background: rgb(244, 244, 244);
  padding: 12px 12px;
}

.header-content {
  width: 100%;
}

.header-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  white-space: nowrap;
}

.query-form {
  flex: 1;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.query-button {
  padding: 8px 24px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}
